.file{
    display: inline-block;
    width: 130px;
    padding: 20px;
    overflow: hidden;
    background: url(../public/299060_folder_icon.png) center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 60px 60px;
    text-indent: 140%;
    cursor:pointer;
  }
  .companyName{
    width:50%;
  }

